.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px 24px;
}
.filterSection {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
}
.filterCont {
  display: flex;
  align-items: center;
  gap: 8px;
}
.boardName {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: left;
}
.filterText {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}
.columnCont {
  display: flex;
}
.startText {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff80;
  max-width: 486px;
  margin: 0 auto;
}
.startTextSpan {
  color: #bedbb0;
}
