.columnCont {
  display: flex;
}
.startText {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--start-text-color);
  max-width: 486px;
  margin: 0 auto;
}
.startTextSpan {
  color: var(--start-text-span-color);
}
