:root {
  --screens-background-color: #1f1f1f;
  --sidebar-background-color: #121212;
  --header-background-color: #161616;
  --text-color: #ffffff;
  --create-board-btn-color: #bedbb0;
  --scroll-background-color: #1f1f1f;
  --scroll-btn-color: #121212;
  --need-help-background-color: #1f1f1f;
  --modal-background-color: #1f1f1f;
  --modal-add-btn-background-color: #bedbb0;
  --modal-add-btn-color: #161616;
  --not-active-color: #ffffff80;
  --add-column-color: #121212;
  --sidebar-add-btn-fill: #bedbb0;
  --sidebar-add-btn-stroke: #121212;
  --screens-page-add-btn-fill: #ffffff;
  --screens-page-add-btn-stroke: #121212;
  --modal-add-btn-fill: #161616;
  --modal-add-btn-stroke: #ffffff;
  --add-column-background-color: #bedbb0;
  --logo-background-color: #1f1f1f;
  --logo-color: #fff;
  --header-text-color: #ffffff;
  --chevron-color: #ffffff;
  --sidebar-grey-color: #ffffff80;
  --selected-item-background: #1f1f1f;
  --selected-item-border: #bedbb0;
  --pencil-trash-color: #ffffff80;
  --dropdown-background-color: #1f1f1f;
  --dropdown-color: #ffffff80;
  --drodown-selected-color: #bedbb0;
  --filter-color: #ffffffcc;
  --start-text-color: #ffffff80;
  --start-text-span-color: #bedbb0;
}

[data-theme="light"] {
  --screens-background-color: #f6f6f7;
  --sidebar-background-color: #ffffff;
  --header-background-color: #fcfcfc;
  --text-color: #161616;
  --create-board-btn-color: #bedbb0;
  --scroll-background-color: #e8e8e8;
  --scroll-btn-color: #1616161a;
  --need-help-background-color: #f6f6f7;
  --modal-background-color: #fcfcfc;
  --modal-add-btn-background-color: #161616;
  --modal-add-btn-color: #ffffff;
  --not-active-color: #16161680;
  --add-column-color: #ffffff;
  --sidebar-add-btn-fill: #bedbb0;
  --sidebar-add-btn-stroke: #121212;
  --screens-page-add-btn-fill: #161616;
  --screens-page-add-btn-stroke: #ffffff;
  --modal-add-btn-fill: #161616;
  --modal-add-btn-stroke: #ffffff;
  --add-column-background-color: #bedbb0;
  --logo-background-color: #1f1f1f;
  --logo-color: #fff;
  --header-text-color: #161616;
  --chevron-color: #161616;
  --sidebar-grey-color: #16161680;
  --selected-item-background: #f6f6f7;
  --selected-item-border: #bedbb0;
  --pencil-trash-color: #16161680;
  --dropdown-background-color: #fcfcfc;
  --dropdown-color: #161616;
  --drodown-selected-color: #bedbb0;
  --filter-color: #161616cc;
  --start-text-color: #161616b2;
  --start-text-span-color: #bedbb0;
}

[data-theme="violet"] {
  --screens-background-color: #d6d8ff;
  --sidebar-background-color: #5255bc;
  --header-background-color: #ffffff;
  --text-color: #ffffff;
  --create-board-btn-color: #b8bcfd;
  --scroll-background-color: #ffffff;
  --scroll-btn-color: #b8bcfd;
  --need-help-background-color: #ffffff80;
  --modal-background-color: #fcfcfc;
  --modal-add-btn-background-color: #ffffff;
  --modal-add-btn-color: #161616;
  --not-active-color: #ffffff80;
  --add-column-color: #ffffff;
  --sidebar-add-btn-fill: #b8bcfd;
  --sidebar-add-btn-stroke: #ffffff;
  --screens-page-add-btn-fill: #5255bc;
  --screens-page-add-btn-stroke: #ffffff;
  --modal-add-btn-fill: #ffffff;
  --modal-add-btn-stroke: #5255bc;
  --add-column-background-color: #5255bc;
  --logo-background-color: #ecedfd;
  --logo-color: #5255bc;
  --header-text-color: #161616;
  --chevron-color: #161616;
  --sidebar-grey-color: #ffffff80;
  --selected-item-background: #ffffff80;
  --selected-item-border: #ffffff;
  --pencil-trash-color: #16161680;
  --dropdown-background-color: #fcfcfc;
  --dropdown-color: #161616;
  --drodown-selected-color: #5255bc;
  --filter-color: #161616cc;
  --start-text-color: #161616b2;
  --start-text-span-color: #5255bc;
}
