.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  height: 100vh;
  background-color: var(--screens-background-color);
  display: flex;
}

.text,
.textTime {
  font-size: 2rem;
}

.textTime {
  color: #bedbb0;
}
